*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: darkblue;

    padding: 5px;
}

.buttons{
    padding: 3px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 5px;

}

button{
    font-size: 2rem;
    outline: none;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

.operation{
    background-color: lightsalmon;
}
.eq{
    background-color: forestgreen;
}
.del, .clear{
    background-color: red;
}

.hover:hover{
    opacity: 0.9;
}

.display{
    height: 10vh;
    position: relative;
    margin-bottom: 15px;
    background-color: royalblue;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
}

.number1, .number2, .op{
    margin-left: auto;
    margin-right: 0;
    font-size: 1.8rem;
}

.answer{
    margin-right: auto;
    margin-left: 0;
    font-size: 1.8rem;
}

.numbers{
    font-size: 1.3rem;
}
